* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: seagreen;
}

.gridWrapper {
    display: flex;
    flex-wrap: wrap;   
    background-color: white; 
}

.cell {
    border: 0.1px black solid;
}

#paintModeInfo {
    color: red;
}

.selected {
    background-color: rgb(119, 119, 243);
}