* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: gray;
}

.gridWrapper {
    display: flex;
    flex-wrap: wrap;    
}

.grid {
    border: 0.1px black solid;
}