* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: gray;
}

.gridWrapper {
    height: 700px;
    width: 700px;
    /* border: 1px lime solid; */
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.grid {
    /* height: 100px;
    width: 99.5px; */
    border: 0.1px black solid;
    /* background-color: red; */
}